<div class="clearfix"><!-- IE. --></div>
<div id="footer">
   Powered by <a href="http://github.com/icco/abelinkin">Abe Linkin</a> &middot;
   <span class="copy">&copy;</span> <a href="http://devcloud.org">DevCloud</a> <%= Time.now.year %> &middot;
   <a href="/stats">Stats</a>
</div>
