<head>
   <title>URL Gim.me</title>
   <link type="text/css" rel="stylesheet" href="/reset.css" />
   <link type="text/css" rel="stylesheet" href="/style.css" />
   <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Lekton:regular,bold' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css'>
</head>
