<!doctype html>
<html>
   <%= erb :head_tag %>
   <body>
      <div id="cont">
         <%= erb :header %>

         <div id="feel">
            <form method="post">
               <input type="text" name="url"></input>
               <input type="submit" value="Shorten!"></input>
            </form>
         </div>

         <%= erb :footer %>
      </div>
   </body>
</html>
