<!doctype html>
<html>
   <head>
      <title>Url Gim.me</title>
      <link type="text/css" rel="stylesheet" href="style.css" />
   </head>
   <body>
      <div id="cont">
         <h1 id="header">URL Gim.me</h1>

         <div id="feel">
            <form method="post">
               <h2>Url to shorten</h2>
               <input type="text" name="url"></input>
               <input type="submit" value="Shorten!"></input>
            </form>
         </div>
      </div>
   </body>
</html>
