<!doctype html>
<html>
   <head>
      <title>URL Gim.me</title>
      <link type="text/css" rel="stylesheet" href="style.css" />
   </head>
   <body>
      <div id="cont">
         <h1 id="header">URL Gim.me</h1>

         Your short link is at:

         <input type="text" value="http://urlgim.me/<%= entry.urlhash %>" />
      </div>
   </body>
</html>
