<!doctype html>
<html>
   <%= erb :head_tag %>
   <body>
      <div id="cont">
         <%= erb :header %>

         Your short link is at:

         <input type="text" value="<%= entry.link %>" />

         <div id="homelink">
            <a href="/">Submit another link...</a>
         </div>

         <%= erb :footer %>
      </div>
   </body>
</html>
