<!doctype html>
<html>
   <%= erb :head_tag %>
   <body>
      <div id="cont">
         <%= erb :header %>

         <pre>
         <%= entry.inspect%>
         </pre>

         <div id="homelink">
            <a href="/">Submit another link...</a>
         </div>

         <%= erb :footer %>
      </div>
   </body>
</html>
