<!doctype html>
<html>
   <head>
      <title>URL Gim.me</title>
      <link type="text/css" rel="stylesheet" href="style.css" />
   </head>
   <body>
      <div id="cont">
         <h1 id="header">URL Gim.me</h1>

         <pre>
         <%= entry.inspect%>
         </pre>

         <div id="homelink">
            <a href="/">Submit another link...</a>
         </div>
      </div>
   </body>
</html>
