<!doctype html>
<html>
   <head>
      <title>Url Gim.me</title>
      <link type="text/css" rel="stylesheet" href="style.css" />
   </head>
   <body>
      <div id="stats">
         <h1>Submitted Urls</h1>
         <ul>
            <% entries.each do |item| %>
               <li><a href="<%= item.link %>"><%= item.urlhash %></a> : <%= item.url %> : <%= item.visits %></li>
            <% end %>
         </ul>

         <div id="homelink">
            <a href="/">Head home...</a>
         </div>
      </div>
   </body>
</html>
